AWS_ACCESS_KEY_ID=XXXXXX
AWS_SECRET_ACCESS_KEY=YYYYYYYYYY
AWS_REGION_NAME=us-east-1
AWS_ENDPOINT_URL=http://minio:9000
AWS_BUCKET_MEDIA=picopix

MLFLOW_S3_ENDPOINT_URL=http://minio:9000/picopix/
MLFLOW_TRACKING_URI=http://r_and_d:8002

POSTGRES_USER=YYYYYY
POSTGRES_PASSWORD=PPPPP
POSTGRES_DB=picopix